{% extends 'base.html' %}
{% block content %}

<!-- An accordion is a stylized unordered list with list items. -->
<!-- Dynamically generate a list item in a list for every record returned, or every document returned, from the database. -->
<ul class="collapsible" data-collapsible="accordion">
    <!-- Wrap a list item in the for loop. -->
    <!-- Conditional rendering. You'll get an instance of a list item for every record represented 
    in the database or that's returned based on a particular search. -->
    {% for task in tasks %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i> <strong>{{task.task_name}}</strong> - {{task.due_date}}
        </div>
        <div class="collapsible-body">
            <span>{{task.task_description}}</span>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}